.me {
    text-align: center;
}
.txt {
    font-size: 25px;
    max-width: 750px;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}



.justify-content-center Button {
    color: black;
    background: linear-gradient(#00246B, #CADCFC);
    font-size: 23px;
}

.mb-4 Button {
    color: black;
    background: linear-gradient(#00246B, #CADCFC);
    font-size: 23px;
}